services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:{{ provision.photo_archive.immich_version }}
    container_name: immich_server
    restart: unless-stopped
    ports:
      - "{{ provision.photo_archive.web_port }}:2283"
    env_file:
      - {{ provision.photo_archive.paths.environment }}
    environment:
      IMMICH_WORKERS_INCLUDE: api
      DB_HOSTNAME: database
      REDIS_HOSTNAME: redis
    volumes:
      - {{ provision.photo_archive.paths.uploads }}:/data
      - {{ provision.photo_archive.paths.originals }}:/external/originals:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - database
      - redis

  database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    container_name: immich_postgres
    restart: unless-stopped
    shm_size: 128mb
    env_file:
      - {{ provision.photo_archive.paths.environment }}
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - {{ provision.photo_archive.paths.database }}:/var/lib/postgresql/data

  redis:
    image: docker.io/valkey/valkey:9@sha256:418652cfb58ef879d4978c33553735d7147016032d5aefaa14c828e611eb9dfd
    container_name: immich_redis
    restart: unless-stopped
