{
  "{{ provision.ai_services.speaches.stt.alias }}": "{{ provision.ai_services.speaches.stt.model }}",
  "{{ provision.ai_services.speaches.tts.alias }}": "{{ provision.ai_services.speaches.tts.model }}"
}
