#layout-groups {
  width: calc(100% - 2rem);
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 640px) {
  #layout-groups {
    width: calc(100% - 4rem);
  }
}
