#layout-groups {
  width: calc(100% - 2rem);
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}

#layout-groups .service-card {
  min-height: 68px;
  padding: 0.5rem;
}

#layout-groups .service-title {
  min-height: 52px;
  align-items: center;
}

#layout-groups .service-icon {
  width: 3.5rem;
}

#layout-groups .service-icon img,
#layout-groups .service-icon svg {
  width: 2rem;
  height: 2rem;
}

#layout-groups .service-name {
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#layout-groups .bookmark > a,
#layout-groups .bookmark > a > .flex {
  min-height: 58px;
}

#layout-groups .bookmark-icon {
  width: 3.25rem;
}

#layout-groups .bookmark-icon img,
#layout-groups .bookmark-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

#layout-groups .bookmark-name,
#layout-groups .bookmark-description {
  font-size: 0.875rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (min-width: 640px) {
  #layout-groups {
    width: calc(100% - 4rem);
  }
}
