- Службы:
{% for service in provision.docker.services | default({}) | dict2items %}
{% set portal = service.value.portal | default({}) %}
{% if 'local' in (portal.targets | default([])) %}
{% set scheme = portal.scheme | default('http') %}
{% set path = portal.path | default('/') %}
    - {{ portal.name | to_json }}:
        href: {{ (scheme ~ '://' ~ inventory_hostname ~ ':' ~ (portal.port | string) ~ path) | to_json }}
{% if scheme == 'http' %}
        siteMonitor: {{ (scheme ~ '://' ~ inventory_hostname ~ ':' ~ (portal.port | string) ~ path) | to_json }}
{% endif %}
{% endif %}
{% endfor %}
