title: {{ provision.portal.local.title | to_json }}
language: ru
target: _blank

theme: dark
color: slate
headerStyle: clean
iconStyle: theme
cardBlur: md
useEqualHeights: true
disableCollapse: true
statusStyle: dot
hideVersion: true
background:
  image: /images/background.svg
  opacity: 65

layout:
  Службы:
    icon: mdi-apps-#38bdf8
    style: row
    columns: 2
  Управление:
    icon: mdi-tools-#e2e8f0
    style: row
    columns: 3
