# Управляется Ansible. dnsmasq на 109 используется только как DHCP.
port=0
interface={{ network_gateway_lan_device }}
bind-dynamic
dhcp-authoritative
dhcp-range={{ provision.network_gateway.dhcp.range.start }},{{ provision.network_gateway.dhcp.range.end }},{{ provision.network_gateway.dhcp.lease_time }}
dhcp-option=option:router,{{ network_gateway_lan_address }}
dhcp-option=option:dns-server,{{ network_gateway_lan_address }}
dhcp-option=option:domain-name,{{ provision.network_gateway.dhcp.domain }}
domain={{ provision.network_gateway.dhcp.domain }}

{% for reservation in provision.network_gateway.dhcp.reservations | default([]) %}
dhcp-host={{ reservation.mac }},{{ reservation.ip }},{{ reservation.name }},infinite
{% endfor %}
